@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#book-1-dedication,
article,
#nonsense-alphabets-1 section section,
#nonsense-alphabets-2 section section{
	page-break-after: always;
}

[epub|type~="dedication"] p{
	text-align: center;
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

table td:last-child{
	text-align: center;
}

/* epigraph */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
}

section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: left;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End epigraph */

/* poetry, song */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

p span.i4{
	text-indent: -1em;
	padding-left: 5em;
}

p span.i5{
	text-indent: -1em;
	padding-left: 6em;
}

p span.i6{
	text-indent: -1em;
	padding-left: 7em;
}

p span.i7{
	text-indent: -1em;
	padding-left: 8em;
}

p span.i8{
	text-indent: -1em;
	padding-left: 9em;
}

p span.i9{
	text-indent: -1em;
	padding-left: 10em;
}

p span.i10{
	text-indent: -1em;
	padding-left: 11em;
}
/* End poetry, song */

/* limmerick */
#nonsense-rhymes-and-pictures,
#one-hundred-nonsense-pictures-and-rhymes,
#twentysix-nonsense-rhymes-and-pictures{
	text-align: center;
}

#nonsense-rhymes-and-pictures div,
#one-hundred-nonsense-pictures-and-rhymes div,
#twentysix-nonsense-rhymes-and-pictures div{
	display: inline-block;
}

#nonsense-rhymes-and-pictures div p,
#one-hundred-nonsense-pictures-and-rhymes div p,
#twentysix-nonsense-rhymes-and-pictures div p{
	text-align: left;
}
/* end limmerick */

/* alphabet */
#nonsense-alphabets-1{
	text-align: center;
}

#nonsense-alphabets-1 p,
#nonsense-alphabet-5 p{
	text-align: center;
}

#nonsense-alphabets-1 div{
	display: inline-block;
}

#nonsense-alphabets-1 div p{
	text-align: left;
}

#nonsense-alphabets-1 header p,
#nonsense-alphabets-2 header p{
	font-size: 4em;
}

#nonsense-alphabets-1 p span b,
#nonsense-alphabets-2 p span b{
	font-size: 2em;
}

#nonsense-alphabets-1 p b{
	font-size: 3em;
	font-variant: normal;
}
/* end alphabet */

/* illustration */
figure.full-page{
	/* If the image is meant to be on its own page, use this selector... */
	margin: 0;
	max-height: 100%;
	page-break-before: always;
	page-break-after: always;
	page-break-inside: avoid;
	text-align: center;
}

figure{
	/* If the image is meant to be inline with the text, use this selector... */
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

figcaption{
	font-style: italic;
	margin: 1em;
}
/* end illustration */
