@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

article,
#nonsense-alphabets-1 section section,
#nonsense-alphabets-2 section section{
	margin-bottom: 3em;
	break-after: page;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="dedication"] p{
	text-align: center;
	font-variant: small-caps;
	text-indent: 0;
}

[epub|type~="dedication"] i{
	font-variant: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

#the-akond-of-swat table{
	margin-bottom: 1em;
}

#the-akond-of-swat table td:last-child{
	text-align: center;
}

/* epigraph */
[epub|type~="epigraph"]{
	hyphens: none;
	-epub-hyphens: none;
}

section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

section > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}

[epub|type~="epigraph"] div{
	margin: 1em;
}
/* End epigraph */

/* poetry, song */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

p span.i6{
	padding-left: 7em;
	text-indent: -1em;
}

p span.i7{
	padding-left: 8em;
	text-indent: -1em;
}

p span.i8{
	padding-left: 9em;
	text-indent: -1em;
}

p span.i9{
	text-indent: -1em;
	padding-left: 10em;
}

p span.i10{
	text-indent: -1em;
	padding-left: 11em;
}
/* End poetry, song */

/* limmerick */
#nonsense-rhymes-and-pictures,
#one-hundred-nonsense-pictures-and-rhymes,
#twenty-six-nonsense-rhymes-and-pictures{
	text-align: center;
}

#nonsense-rhymes-and-pictures p,
#one-hundred-nonsense-pictures-and-rhymes p,
#twenty-six-nonsense-rhymes-and-pictures p{
	display: inline-block;
}
/* end limmerick */

/* alphabet */
#nonsense-alphabets-1{
	text-align: center;
}

#nonsense-alphabets-1 p,
#nonsense-alphabet-5 p{
	text-align: center;
}

#nonsense-alphabets-1 div{
	display: inline-block;
}

#nonsense-alphabets-1 div p{
	text-align: initial;
}

#nonsense-alphabets-1 header p,
#nonsense-alphabets-2 header p{
	font-size: 4em;
}

#nonsense-alphabets-1 p span b,
#nonsense-alphabets-2 p span b{
	font-size: 2em;
}

#nonsense-alphabets-1 p b{
	font-size: 3em;
	font-variant: normal;
}

#nonsense-alphabets-1 section div + p{
	margin-top: 1em;
}
/* end alphabet */

/* sheet music */
#sheet-music-the-pelican-chorus header p,
#sheet-music-the-courtship-of-the-yonghy-bonghy-bo header p{
	font-size: 2em;
	text-align: center;
}
/* end sheet music */

/* illustration */
figure{
	/* If the image is meant to be inline with the text, use this selector... */
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-style: italic;
	margin: 1em;
}
/* end illustration */
